




%philos{
 font-family: 'Philosopher-Italic', sans-serif;
 font-weight: 400;
 font-style: italic;
}

%ubu{
 font-family: 'Ubuntu-BoldItalic', sans-serif;
 font-weight: 700;
 font-style: italic;
}

%mul{
 font-family: 'Mulish-Italic', sans-serif;
 font-weight: 400;
 font-style: italic;
}